@media(max-width:769px) {

    header {
        margin-bottom: 16px;
        /* text-align: right; */
    }

    section {
        width: 90%;
    }

    section.hero div,
    section.cat-block div article, 
    section.main-galery div article,
    section.main-video iframe
    {
        width: 100%;
    }

    button {
        margin-left: auto;
        display: block;
        /* display: inline; */
        width: 32px;
        height: 32px;
        border: none;
        background-color: transparent;
        padding: 0;
        border-top: 4px solid #79491b;
        border-bottom: 4px solid #79491b;
        position: relative;
    }

    button::before {
        content: "";
        width: 32px;
        height: 4px;
        background-color: #79491b;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%)
    }

    .active-menu+nav {
        display: flex;
        background-color: rgba(255, 255, 255, 0.803);
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 34px;
    }

    nav {
        display: none;
    }

    .cat-block article img {
        width: 75%;
    }

}